h3 {{provider.name}}
form.form.form-horizontal(name="providerFrom")
    .form-group
        label.col-sm-3.control-label(for="name" ) Name
        .col-sm-7
            input.form-control(
            id="name"
            name="name"
            type="text"
            placeholder="Input name"
            ng-model="provider.name"
            ng-model-options="{ updateOn: 'blur' }"
            required
            )
    h4 Directions
    .form-group
        .col-sm-7
            input.form-control(type="file" id="file" ng-model="files" ngf-select)
        .col-sm-3
            a.btn.btn-default(ng-click="addFromFile()") Upload
    a.btn.btn-success(ng-click="addDirection()" style="margin-bottom:15px;") Add
    .form-group(ng-repeat="direction in provider.directions")
        .col-sm-5
            input.form-control(
            type="text"
            placeholder="Input template"
            ng-model="direction.template"
            required
            )
        .col-sm-5
            input.form-control(
            type="text"
            placeholder="input price"
            ng-model="direction.price"
            required
            )
        .col-sm-2
            button.btn.btn-danger(ng-click="removeDirection($index)")
                span.glyphicon.glyphicon-remove
    hr
    button.btn.btn-primary.col-sm-offset-3(ng-click="save()" ng-disabled="providerFrom.$invalid") Save
    button.btn.btn-danger(ng-click="delete()") Delete